body {
  margin: 0;
  height: 100%;
  background-color: rgb(53, 65, 84);
  color: white;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

#wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#content {
  overflow-y: scroll;
}

header {
  background: rebeccapurple;
  box-shadow: 0 2px 8px -0px black;

  .title {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0.5rem;
  }

  .nav {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    width: 100vw;
    overflow: auto;

    .navItem {
      display: flex;
      justify-content: center;
      cursor: pointer;

      &:hover {
        color: whitesmoke;
        background-color: rgb(74, 37, 112);
      }

      a {
        text-decoration: none;
        color: lightgray;
      }
    }

    .active {
      font-weight: bolder;
      color: white;
      border-bottom: 2px solid lightgray;
    }
  }
}


footer {
  display: flex;
  align-items: center;
  background: rebeccapurple;

  .copyright {
    font-size: 80%;

    p {
      margin: 0.25rem;
    }
  }

  .socials {
    a {
      width: 30px;
      height: 40px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 22px;
      transition: all 0.5s;
    }

    a:hover {
      color: skyblue;
    }
  }
}


.inputFormContainer {
  display: flex;
  justify-content: center;


  .inputForm {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 40%;
  }

  .generateButton {
    display: flex;
    justify-content: center;
  }
}



.images {
  p {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  img {
    border: thin solid whitesmoke;
    border-radius: 10px;
  }

  .download {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }
}

.hidden {
  display: none;
}



@media (min-width: 481px) {
  header {
    .nav {
      justify-content: center;
    }
  }
}

@media (min-width: 900px) {
  footer {
    justify-content: center;
    column-gap: 5rem;
    padding: 0.75rem;
  }
}

@media (max-width: 1399px) {
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    img {
      width: 700px;
      max-width: 80vw;
    }
  }

  .inputFormContainer .inputForm {
    width: 60%;
  }
}

@media (max-width: 899px) {
  footer {
    justify-content: space-between;
    padding: 0.1rem 1rem;
  }

  .inputFormContainer .inputForm {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;

    img {
      width: 900px;
      max-width: 40vw;
    }
  }
}